* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(209, 186, 156);
  align-items: center;
}

h1 {
  text-align: center;
  margin: 40px 0;
}

#calculator-container {
  height: 500px;
  width: 300px;
  background-color: rgb(98, 69, 124);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 4px;
  box-shadow: 10px 10px 5px black;
}

#calculator-screen {
  width: 90%;
  height: 100px;
  margin-top: 20px;
  background-color: rgb(0, 24, 0);
  align-self: center;
  text-align: right;
  font-size: 40px;
  align-content: center;
  color: white;
  padding: 10px;
}

.calculator-buttons {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.calculator-buttons button {
  width: 23%;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  transition-duration: 0.2s;
}

.calculator-buttons button:hover {
  background-color: rgb(150, 68, 113);
}

#clear-button {
  width: 90%;
}

#execute {
  width: 46%;
}
